doctype html
html
  head
  title C-Resume Milka Sarai P&eacute;rez Jos&eacute;
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset='utf-8')
  meta(name='keywords' content='C-Resume a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
  // css
  // font-awesome icons
  link(rel='stylesheet' href='stylesheets/font-awesome.min.css')
  // //font-awesome icons
  link(href='//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  link(rel='stylesheet' href='stylesheets/style.css' type='text/css' media='all')
  link(rel='stylesheet' href='stylesheets/bootstrap.min.css' type='text/css' media='all')
  // Default-JavaScript-File
  script(type='text/javascript' src='javascripts/jquery-2.1.4.min.js')
  script(type='text/javascript' src='javascripts/bootstrap.min.js')

  body
    block content
    .w3-banner-top
      .agileinfo-dot
        .w3layouts_menu
          nav.cd-stretchy-nav.edit-content
            a.cd-nav-trigger(href='#0')
              | Menu 
              span(aria-hidden='true')
            ul
              li
                a.scroll(href='#home')
                  span Home
              li
                a.scroll(href='#about')
                  span Acerca de
              li
                a.scroll(href='#experiences')
                  span Educaci&oacute;n
              li
                a.scroll(href='#skills')
                  span Fortalezas
              li
                a.scroll(href='#projects')
                  span Projects
              li
                a.scroll(href='#contact')
                  span Contact
            span.stretchy-nav-bg(aria-hidden='true')
        .w3-banner-grids
          .col-md-6.w3-banner-grid-left
            .w3-banner-img
              img(src='images/milka.jpg' alt='img')
              h3.test  Curriculum vitae
              p.test  Milka Sarai P&eacute;rez Jos&eacute;
          .col-md-6.w3-banner-grid-right
            .w3-banner-text
              h3 Informaci&oacute;n Personal
            .w3-right-addres-1
              ul.address
                li
                  ul.agileits-address-text
                    li.agile-it-adress-left
                      b Nombre
                    li
                      span :
                      | Milka Sarai P&eacute;rez Jos&eacute;
                li
                  ul.agileits-address-text
                    li.agile-it-adress-left
                      b Telefono
                    li
                      span :
                      | (+52) 924 120 42 18
                li
                  ul.agileits-address-text
                    li.agile-it-adress-left
                      b Direcci&oacute;n
                    li
                      span :
                      | Juan Alvarez #1107, col.Benito Juarez
                li
                  ul.agileits-address-text
                    li.agile-it-adress-left
                      b E-MAIL
                    li
                      span :
                      a(href='mailto:example@mail.com')  milkaprz02@outlook.es
                li
                  ul.agileits-address-text
                    li.agile-it-adress-left
                      b Sitio
                    li
                      span :
                      a(href='#') FB/Milka Sarai Prz
          .clearfix
      .thim-click-to-bottom
        a.scroll(href='#about')
          i.fa.fa-chevron-down
    // banner
    // /about
    #about.w3-about
      .container
        .w3-about-head
          h3 Acerca de
        .w3-about-grids
          .w3-about-grids1
            .col-md-6.w3-about-grid-left1
              img(src='images/ab5.jpg' alt='img1')
            .col-md-6.w3-about-grid-right1
              h3 &iexcl;Hola, conoce un poquito m&aacute;s!
              p
                | Soy Milka P&eacute;rez, actualmente estudiante del octavo semestre de la carrera de Ingenieria en Sistemas Computacionales.
              p
                | Mi objetivo principal es desarrollar los conocimientos necesarios para emprender el camino en el ambito profesional.
              p
                | Estoy completamente convencida que un objetivo es una gu&iacute;a fundamental que orienta mi propia conducta hacia una vida de &eacute;xito.
    // //about
    // / education
    #experiences.w3-edu-top
      .container
        .w3-edu-grids
          .col-md-12.w3-edu-grid-left
            .w3-edu-grid-header
              h3 Educaci&oacute;n
            .col-md-4.w3-edu-info1
              h3 2017
              h4 Universidad
            .col-md-6.w3-edu-info2
              h3 Instituto Tecnol&oacute;gico Superior de Acayucan.
              h4
                i.fa.fa-users(aria-hidden='true')
                span Ing.Sistemas Computacionales
              p Actualmente cursando el octavo semestre.
            .clearfix
            .col-md-4.w3-edu-info1
              h3 2013
              h4 Bachillerato
            .col-md-6.w3-edu-info2
              h3 Centro de Bachillerato Tecnol&oacute;gico Industrial y de Servicios #48
              h4
                i.fa.fa-code(aria-hidden='true')
                span T&eacute;cnico.
              p T&eacute;cnico Laboratorista Qu&iacute;mico.
            .clearfix
            .col-md-4.w3-edu-info1
              h3 2010
              h4 Secundaria
            .col-md-6.w3-edu-info2
              h3 Escuela Secundaria General Acayucan.
              h4
                i.fa.fa-laptop(aria-hidden='true')
                span Concluida
            .clearfix
    // //education
    // skills
    #skills.skills
      .container
        .title-w3ls
          h4 Fortalezas
        .skills-bar
          .col-md-6.w3-agile-skills-grid
            section.bar
              section.wrap
                .wrap_right
                  .bar_group
                    .bar_group__bar.thin(label='Java' show_values='true' tooltip='true' value='45')
                    .bar_group__bar.thin(label='Mysql' show_values='true' tooltip='true' value='52')
                    .bar_group__bar.thin(label='PHP' show_values='true' tooltip='true' value='40')
                    .bar_group__bar.thin(label='HTML/CSS' show_values='true' tooltip='true' value='50')
                .clearfix
          .col-md-6.w3-agile-skills-grid
            section.bar
              section.wrap
                .wrap_right
                  .bar_group
                    .bar_group__bar.thin(label='Photoshop' show_values='true' tooltip='true' value='80')
                    .bar_group__bar.thin(label='Corel Draw' show_values='true' tooltip='true' value='75')
                    .bar_group__bar.thin(label='Blender' show_values='true' tooltip='true' value='50')
                .clearfix
          .clearfix
    // //skills
    // main-content
    .main-content
      // gallery
      #projects.gallery
        .w3-gallery-head
          h3 Intereses
        .container
          .gallery_gds
            .filtr-container(style='padding: 0px; position: relative; height: 858px;')
              .col-md-4.col-ms-6.jm-item.first.filtr-item(data-category='1, 5' data-sort='Busy streets' style='opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;')
                .jm-item-wrapper
                  .jm-item-image
                    img(src='images/maps.png' alt='property')
                    span.jm-item-overlay  
                    .jm-item-button
                      a(href='#' data-toggle='modal' data-target='#myModal1') Viajes
              .col-md-4.col-ms-6.jm-item.first.filtr-item(data-category='2, 5' data-sort='Luminous night' style='opacity: 1; transform: scale(1) translate3d(380px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;')
                .jm-item-wrapper
                  .jm-item-image
                    img(src='images/books.png' alt='property')
                    span.jm-item-overlay  
                    .jm-item-button
                      a(href='#' data-toggle='modal' data-target='#myModal2') Libros
              .col-md-4.col-ms-6.jm-item.first.filtr-item(data-category='1, 4' data-sort='City wonders' style='opacity: 1; transform: scale(1) translate3d(760px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;')
                .jm-item-wrapper
                  .jm-item-image
                    img(src='images/computer.png' alt='property')
                    span.jm-item-overlay  
                    .jm-item-button
                      a(href='#' data-toggle='modal' data-target='#myModal3') Programaci&oacute;n
              .col-md-4.col-ms-6.jm-item.first.filtr-item(data-category='1, 3' data-sort='In production' style='opacity: 1; transform: scale(1) translate3d(0px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;')
                .jm-item-wrapper
                  .jm-item-image
                    img(src='images/music.png' alt='property')
                    span.jm-item-overlay  
                    .jm-item-button
                      a(href='#' data-toggle='modal' data-target='#myModal4') M&uacute;sica
              .col-md-4.col-ms-6.jm-item.first.filtr-item(data-category='3, 4' data-sort='Industrial site' style='opacity: 1; transform: scale(1) translate3d(380px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;')
                .jm-item-wrapper
                  .jm-item-image
                    img(src='images/video.png' alt='property')
                    span.jm-item-overlay  
                    .jm-item-button
                      a(href='#' data-toggle='modal' data-target='#myModal5') Series
              .col-md-4.col-ms-6.jm-item.first.filtr-item(data-category='3, 4' data-sort='Industrial site' style='opacity: 1; transform: scale(1) translate3d(380px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;')
                .jm-item-wrapper
                  .jm-item-image
                    img(src='images/soccer.png' alt='property')
                    span.jm-item-overlay  
                    .jm-item-button
                      a(href='#' data-toggle='modal' data-target='#myModal5') Futbol
      // //gallery
    // //main-content
    #myModal7.modal.fade(tabindex='-1' role='dialog')
      .modal-dialog
        // Modal content
        button.close(type='button' data-dismiss='modal') &times;
        .w3ls-property-images.w3-pop1-img7
          img(src='images/gal77.jpg' alt='image')
        .ins-details
          .ins-name
            h3 voluptatem accusantium doloremque
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
        .clearfix
    script(src='javascripts/jquery.filterizr.js')
    // Kick off Filterizr
    script(type='text/javascript').
      $(function() {
      //Initialize filterizr with default options
      $('.filtr-container').filterizr();
      });
    // footer
    .w3l_footer
      .container
        .w3ls_footer_grids
          .w3ls_footer_grid
            .col-md-4.w3ls_footer_grid_left
              .w3ls_footer_grid_leftl
                i.fa.fa-map-marker(aria-hidden='true')
              .w3ls_footer_grid_leftr
                h4 Direcci&oacute;n
                p Juan Alvarez #1107, col Benito Juarez.
              .clearfix  
            .col-md-4.w3ls_footer_grid_left
              .w3ls_footer_grid_leftl
                i.fa.fa-envelope(aria-hidden='true')
              .w3ls_footer_grid_leftr
                h4 Email
                a(href='mailto:info@example.com') milkaprz02@outlook.es
              .clearfix  
            .col-md-4.w3ls_footer_grid_left
              .w3ls_footer_grid_leftl
                i.fa.fa-phone(aria-hidden='true')
              .w3ls_footer_grid_leftr
                h4 Telefono
                p (+52) 924 120 4218
              .clearfix  
            .clearfix  
      .w3l_footer_pos
        p
          | &copy; 2017 C-Resume. All Rights Reserved | Design by 
          a(href='https://w3layouts.com/') W3layouts
    // //footer
    script(src='javascripts/bars.js')
    // start-smoth-scrolling
    script(src='javascripts/SmoothScroll.min.js')
    // text-effect
    script(type='text/javascript' src='javascripts/jquery.transit.js')
    script(type='text/javascript' src='javascripts/jquery.textFx.js')
    script(type='text/javascript').
      $(document).ready(function() {
      $('.test').textFx({
      type: 'fadeIn',
      iChar: 100,
      iAnim: 1000
      });
      });
    // //text-effect
    // menu-js
    script(src='javascripts/modernizr.js')
    script(src='javascripts/menu.js')
    // //menu-js
    script(type='text/javascript' src='javascripts/move-top.js')
    script(type='text/javascript' src='javascripts/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
      });
    // start-smoth-scrolling
    script(type='text/javascript').
      $(document).ready(function() {
      /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      */
      $().UItoTop({ easingType: 'easeOutQuart' });
      });

      p Welcome to #{title}
